*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

:root{
  --green: #a0d0ad;
  --teal: #0a7e5c;
  --white: #fff;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --grey: #6c757d;
  --grey-dark: #343a40;
  --dark: #16191b;
  --red: #dc3545;
  --pink: #e83e8c;
  --border: .1rem solid var(--dark);
  --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

::-webkit-scrollbar {
  width: .8rem;
}

::-webkit-scrollbar-track {
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  background: var(--dark);
}

.header {
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  background: var(--green);
  box-shadow: var(--box-shadow);
  height: 3.5rem;
}

.logo {
  min-width: 4rem;
  margin: auto;
  font-size: 2rem;
  color: var(--white);
  font-weight: bolder;
  text-align: center;
}

.navbar {
  margin-right: 1rem;
}

.navbar ul{
  display: flex;
  justify-content: space-evenly;
}

.navbar ul li {
  list-style: none;
}

.navbar a {
  margin-left: 1rem;
  font-size: 1.2rem;
  color: var(--white);
}

.navbar a:hover, .logo:hover {
  color: var(--dark);
}

section{
  background: #f7f7f7;
}

.subtitle {
  font-size: 3rem;
}

/* footer styles */

.footer-container {
  width: 100%;
  height: 35vh;
  bottom: 5rem;
  background: #8d969d;
  border-bottom: 2rem solid #343a40;
  display: flex;
  padding: .8rem;
  justify-content: space-around;
}


.footer-container .box {
  text-align: center;
  max-width: 47.5%;
}

.footer-container .box h4 {
  font-size: 1.7rem;
  margin-bottom: 3rem;
}

.footer-container .box .detail {
  font-size: 1.2rem;
}

body {
  width: 96vw;
  margin: auto;
}


/* home section styles */

.home-section .container {
  max-width: 100%;
  height: 80vh;
  padding-top: 2.4rem;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
}

.home-section .container .subtitle {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  margin: auto;
  height: 10px;
}

.home-section .container .blur-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; height: 100%;
}

.home-section .container .blur-container .blur-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 96%; height: 51%;
  background: rgba(255, 255, 255, .5);
  backdrop-filter: blur(4px);
  border-radius: 5px;
  font-size: 6rem;
  color: var(--dark);
}

.home-section .container .blur-container .blur-filter:hover {
  backdrop-filter: none;
  background: rgba(255, 255, 255, .0);
  color: transparent;
} 

/* Images */

.home-section .container img,
.history-section .container img,
.places-section .container img,
.surrounding-section .container img {
  max-width: 96%;
  min-height: 50vh;
  object-fit: cover;
  border-radius: 5px;
  padding: .4rem;
  border: 1px solid var(--dark);
}

/* history section */

.history-section .container,
.places-section .container {
  padding-top: 4rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history-section .container .subtitle {
  margin-bottom: 2rem;
}

.container .detail {
  text-transform: none;
  margin: 1rem;
  font-size: 1.5rem;
}

.container .ref {
  text-transform: none;
  text-align: end;
  align-self: flex-end;
}

/* Places section */

.places-section .container .subtitle {
  margin-bottom: 1rem;
}

.places-section .container .box,
.surrounding-section .container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.surrounding-section {
  padding-top: 4rem;
}

.surrounding-section h3 {
  text-align: center;
  margin-bottom: 2rem;
}

/* Reviews section */

.reviews-section {
  padding: 4rem 1rem 2rem 1rem;
}

.reviews-section .container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.reviews-section .container .box {
  text-align: center;
  padding: 2rem;
  border: 1rem solid var(--white);
  box-shadow: 0 .5rem 1rem rgba(255, 255, 255, .3);
  border-radius: .5rem;
  flex: 1 1 30rem;
  background: var(--teal);
}

.reviews-section .container .box .user-photo {
  height: 6rem; width: 6rem;
  border-radius: 50%;
  object-fit: cover;
}

.reviews-section .container .box h4 {
  font-size: 2.5rem;
  padding: .5rem 0;
}

.reviews-section .container .box p {
  font-size: 1.5rem;
  padding: 1rem 0;
}

.reviews-section .container .box h4,
.reviews-section .container .box p {
  color: #ccc;
}

.reviews-section .form-container form{
  display: flex;
  padding: 1rem;
  flex-direction: column;
}

.reviews-section .form-container form input,
.reviews-section .form-container form textarea {
  padding: .5rem;
  margin: .7rem 0;
  font-size: 1.7rem;
  color: var(--dark);
  text-transform: none;
  border: .1rem solid rgba(0, 0, 0, 0.3);
  border-radius: .5rem;
}

.reviews-section .form-container form input form textarea {
  height: 15rem; width: 100%;
  resize: none;
}

.reviews-section .form-container .access {
  display: flex;
  position: absolute;
  font-size: 4rem;
  width: 91vw; height: 49.5vh;
  background: rgba(255, 255, 255, .8);
  text-align: center;
  align-items: center;
  border-radius: 5px;
}








@media (min-width: 768px) {
  html {
    font-size: 85%;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }

  .header .logo {
    margin: 0 auto;
  }

  .header .navbar {
    margin: auto;
    width: 70vw;
  }

  .header .navbar ul li a{
    font-size: 1.5rem;
  }

  .home-section .container .subtitle {
    font-size: 4rem;
  }

  .footer-container {
    height: 27vh;
  }

  .footer-container .box h4 {
    margin-bottom: 1.2rem;
  }

  .reviews-section .form-container .access {
    width: 92.5vw; height: 43.5vh;
  }


}


@media (min-width: 1100px) {
  html {
    font-size: 90%;
  }

  body {
    width: 98vw;
  }

  .header {
    justify-content: space-between;
  }

  .header .navbar {
    width: 50vw;
  }

  .header .navbar ul {
    justify-content: space-between;
  }

  .home-section .container .blur-container .blur-filter {
    width: 80%;
    height: 52%;
  }

  .places-section .container .box img {
    width: 75vw;
    max-height: 82vh;
  }
  .places-section .container .box .detail {
    font-size: 2rem;
    margin: 1rem 2rem;
  }

  .places-section .container .box {
    margin-bottom: 2rem;
  }

  .places-section .container .box .subtitle {
    margin-bottom: 2rem;
  }

  .places-section .container .ref {
    font-size: 1.2rem;
    margin-right: 1rem;
  }


}