$green: #a0d0ad;
$teal: #52796f;
$white: #fff;
$orange: #fd7e14;
$yellow: #dfbb52;
$grey: #cad2c5;
$grey-dark: #343a40;
$dark: #16191b;
$red: #dc3545;
$pink: #e83e8c;
$border: .1rem solid var($dark);
$box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);