$green: #a0d0ad;
$teal: #0a7e5c;
$white: #fff;
$orange: #fd7e14;
$yellow: #ffc107;
$grey: #6c757d;
$grey-dark: #343a40;
$dark: #16191b;
$red: #dc3545;
$pink: #e83e8c;
$border: .1rem solid var($dark);
$box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);